body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -9999px;
  top: -9999px;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/*HEADER, HEADER-TOP*/
.main-header__top {
  background-color: #282828;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-social {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.header-social__item {
  margin-right: 16px;
}
.header-social__link {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
.header-social__link--facebook {
  background-image: url(../img/facebook-logo.png);
}
.header-social__link--instagram {
  background-image: url(../img/instagram-logo.png);
}
.header-social__link--twitter {
  background-image: url(../img/twitter-logo.png);
}

.header-lang {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  list-style: none;
  text-transform: uppercase;
}
.header-lang__item {
  margin-right: 32px;
}
.header-lang__item:last-child {
  margin-right: 0;
}
.header-lang__link {
  display: block;
  padding: 15px 0;
  color: #cdcdcd;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}
.header-lang__link--current {
  border-bottom: 1px solid #f4b936;
}
.header-lang__link:hover {
  border-bottom: 1px solid #f4b936;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
.header-lang__link--search {
  display: block;
  padding: 10px 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: center center
}
/*END HEADER-TOP*/
/*HEADER BOTTOM*/
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-bottom__logo {
  margin-right: 15px;
  font-size: 40px;
  line-height: 44px;
  color: #333333;
  letter-spacing: -1.6px;
}
.navigation {
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
}
.navigation__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navigation__link {
  display: block;
  padding: 36px 15px 36px 18px;
  line-height: 26px;
  font-weight: 600;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.navigation__list .navigation__link:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.navigation__link--home {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/home-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 62px;
}
.navigation__link--current {
  color: #000000;
  border-bottom: 1px solid #000000;
}
.interface-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.interface-list__item {
  margin-right: 15px;
}
.interface-list__item:last-child {
  margin-right: 0;
}
.interface-list__link {
  line-height: 26px;
  font-weight: 600;
  color: #444444;
  text-transform: uppercase;
}
.interface-list__link--avatar {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/avatar-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.interface-list__link--exit {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/logout-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/*END HEADER-BOTTOM*/
/* MAIN CONTENT*/
.main-content__title {
  margin: 0;
  padding-top: 50px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #d6d6d6;
}
.main-content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*ASIDE*/
.sidebar {
  width: 250px;
}
.sidebar-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
.sidebar-list__item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}
.sidebar-list__item::before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
  top:50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icon14-user.png);
  background-repeat: no-repeat;
}
.sidebar-list__item--user::before {
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url(../img/avatar-icon.png);
}
/*Кнопки в сайдбаре, лишние пробелы у inline-block не убраны*/
.sidebar__button {
  position: relative;
  display: inline-block;
  width: 105px;
  padding: 55px 10px 20px 10px;
  color: #f4b936;
  background-color: transparent;
  font-size: 14px;
  line-height: 28px;
  border-radius: 3px;
  border: 1px solid #f4b936;
  cursor: pointer;
}
.sidebar__button--good {
  border: 1px solid #39b54a;
  color: #39b54a;
}
.sidebar__button--bad {
  border: 1px solid #ff3354;
  color: #ff3354;
}
.sidebar__button::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top:40%;
  -webkit-transform: translate(-50%,-40%);
      -ms-transform: translate(-50%,-40%);
          transform: translate(-50%,-40%);
  background-image: url(../img/icon14-user.png);
  background-repeat: no-repeat;
}
.sidebar__button--good::before {
  background-image: url(../img/icon20-vote-yes.png);
}
.sidebar__button--bad::before {
  background-image: url(../img/icon20-vote-no.png);
}
.sidebar__button--download::before {
  background-image: url(../img/icon1817-download.png);
}
.sidebar__button--print::before {
  background-image: url(../img/icon1817-print.png);
}
/*end button*/
.sidebar__vote {
  position: relative;
  padding-left: 40px;
}
.sidebar__vote::before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
  top:50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icon14-user.png);
  background-repeat: no-repeat;
}
/*END ASIDE*/
/*SECTION DOCUMENTS*/
.documents {
  
  width: calc(100% - 250px);
}
.documents__title {
  margin-top: 65px;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 30px;
}
.form-comments {
  margin-bottom: 35px;
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-comments__message {
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}
.form-comments__text {
  margin-bottom: 25px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}
.form-comments__button {
  display: inline-block;
  width: 123px;
  padding: 11px;
  color: #ffffff;
  background-color: #f4b936;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.message__field {
  position: relative;
  padding-left: 40px;
  margin-right: 15px;
}
.message__field--date,
.message__field--time {
  padding-left: 25px;
}
.message__field::before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
  top:50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icon14-user.png);
  background-repeat: no-repeat;
}
.message__field--user::before {
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url(../img/avatar-icon.png);
}
.message__field--date::before {
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon14-calendar.png);
}
.message__field--time::before {
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon14-clock.png);
}
.message__text {
  width: 640px;
  margin-top: 12px;
  margin-bottom: 30px;
  padding: 20px 68px 25px 43px;
  border: 2px solid #f9dc9a;
  border-radius: 3px;
}
.message--user-2 .message__text {
  background-color: #ebebeb;
  border: none;
}
.message__comment {
  margin: 0;
}
/*END SECTION DOCUMENTS*/